*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
}

body{
    background-image: url(/images/2392614.jpg); 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    color: white;
    font-size: 4rem;
    margin: 10px 0 0 10px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-top: 40px;
}

.main-text{
    font-size: 1.5rem;
    text-align: center;
}

.box{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.animals{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}


.cage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: rgb(255, 255, 255, 0.9);
    width: 10rem;
    height: 150px;
    border-radius: 30px;
    border: 3px #000000 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.btn{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    border: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 4px;
    outline: 0;
}

.btnchicken{
    background-color: #f6ca56;
}

.btnpig{
    background-color: #ffc4c8;
}

.btncow{
    background-color: #d88a55;
}

.btndog{
    background-color: #aa9ea9;
}

.btnsheep{
    background-color: #91b6fe;
}

.btnhorse{
    background-color: #deb592;
}

.btnchicken:hover{
    background-color: #efbc36;
}

.btnpig:hover{
    background-color: #fe99a0;
}

.btncow:hover{
    background-color: #c6733b;
}

.btndog:hover{
    background-color: #7c687a;
}

.btnsheep:hover{
    background-color: #32569d;
}

.btnhorse:hover{
    background-color: #cf9e76;
}

#pig{
    width: 40%;
    float: none;
    margin-bottom: -30px;
    position: relative;
}

.footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b44c49;
    text-align: center;
    height: 35px;
    color: black;
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    position: static;
    border-top: 3px solid #0b580a;
}


@media (max-width: 1024px){

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .animals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

    .container{
        width: 13rem;
        height: 150px;    
        margin-left: 30px;
        margin-right: 30px;
        margin-top: -40px;
    }

    #pig{
        width: 30%;
        float: none;
        margin-bottom: 0px;
        position: relative;
    }

}

@media (max-width: 375px){
  
}





